[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-telegrambot = "*"
python-telegram-bot = "*"
requests = "*"
beautifulsoup4 = "*"
textdistance = "*"
Django = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
